In [3]:
import pandas as pd
df = pd.read_csv("Ecommerce_data.csv")

In [4]:
df.shape

(24000, 2)

In [5]:
df.head()

                                                Text                   label
0  Urban Ladder Eisner Low Back Study-Office Comp...               Household
1  Contrast living Wooden Decorative Box,Painted ...               Household
2  IO Crest SY-PCI40010 PCI RAID Host Controller ...             Electronics
3  ISAKAA Baby Socks from Just Born to 8 Years- P...  Clothing & Accessories
4  Indira Designer Women's Art Mysore Silk Saree ...  Clothing & Accessories

In [6]:
df.label.value_counts() # checking imbalance data

Household                 6000
Electronics               6000
Clothing & Accessories    6000
Books                     6000
Name: label, dtype: int64

In [9]:
#Add the new column which gives a unique number to each of these labels 

df['label_num'] = df['label'].map({
    'Household' : 0, 
    'Books': 1, 
    'Electronics': 2, 
    'Clothing & Accessories': 3
})

#checking the results 
df.head(5)

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,2
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,3
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,3

In [10]:
df.head()

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,2
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,3
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,3

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train , y_test = train_test_split(
    df.Text,
    df.label_num,
    test_size = 0.2,
    random_state = 1000,
    stratify = df.label_num
)

In [13]:
X_train.shape

(19200,)

In [14]:
X_test.shape

(4800,)

In [15]:
y_train.value_counts()

2    4800
1    4800
0    4800
3    4800
Name: label_num, dtype: int64

In [17]:
y_test.value_counts()

1    1200
3    1200
0    1200
2    1200
Name: label_num, dtype: int64